  
</head>
<body class="{{template}}">
  <header>
    <div class='date'>
      {{todaysDate}}
    </div>
  </header>
  <div class="container">
    {{{body}}}
  </div>
  <main>
    <h1>Welcome to My Blog</h1>
    <div class="posts">
      {{!-- Render blog posts dynamically --}}
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>
